<launch>
    <node pkg="bluerov2_control" type="controller_4dof" name="controller" output="screen">
        <param name="use_accel_fb" value="false"/>
        <rosparam command="load" file="$(find bluerov2_control)/params/controllers/cascade/inertial.yaml"/>
        <rosparam command="load" file="$(find bluerov2_control)/params/controllers/cascade/tunings_4dof.yaml"/>
        <remap from="odometry/filtered" to="mavros/local_position/odom"/>
        <remap from="accel/filtered" to="mavros/local_position/accel"/>
        <remap from="range" to="mavros/distance_sensor/rangefinder_pub"/>
        <remap from="depth/filtered" to="guidance/msl"/>
    </node>
</launch>