<launch>
    <arg name="pi" value="3.14159265359"/>
    <arg name="halfpi" value="1.57079632679"/>
    <arg name="static_odom" value="False"/>
    <arg name="stream_video" default="True"/>
    <arg name="joystick_name" default="switchpro"/>
    <arg name="video_port" default="5605"/>
    <arg name="png_level" default="9"/>
    <arg name="gscam_args" value="udpsrc port=$(arg video_port) ! application/x-rtp, encoding-name=H264 ! rtph264depay ! h264parse ! avdec_h264 ! videoconvert ! ffmpegcolorspace"/>
    <!--<arg name="ip_rov" default = "192.168.2.2"/>-->
    <!--<arg name="ip_gcs" default = "192.168.2.1"/>-->

    <include file="$(find bluerov2_ardusub)/launch/start_ardusub_vehi.launch"/>
        <!--<arg name="ip_rov" value = "$(arg ip_rov)"/>-->
        <!--<arg name="ip_gcs" value = "$(arg ip_gcs)"/>-->
    <!--</include>-->

    <!--<include file="$(find bluerov2_control)/launch/switch_pro_teleop.launch" ns="bluerov2"/>-->
    <include file="$(find bluerov2_control)/launch/joystick_teleop.launch" ns="bluerov2">
        <arg name="joystick_name" value="$(arg joystick_name)"/>
    </include>
    <include file="$(find waterlinked_gps)/launch/uwgps-bringup.launch" ns="bluerov2">
                    <arg name="send_tf" value="true"/>
    </include>
    <node type="rviz" pkg="rviz" name="rviz" args="-d $(find bluerov2_ardusub)/rviz/bluerov2_ardusub_v2.rviz"/>
    <!--<node type="rviz" pkg="rviz" name="rviz" args="-d $(find bluerov2_ardusub)/rviz/bluerov2_ardusub.rviz"/>-->
    <include file="$(find bluerov2_state_estimation)/launch/ekf.launch"/>

    <node pkg="bluerov2_state_estimation" type="tf_manager.py" name="tf_manager" ns="bluerov2">
        <param name="broadcast_rate" value="30.0"/>
        <param name="odom_frame_id" value="bluerov2/odom"/>
        <param name="static_map_odom" value="$(arg static_odom)"/>
        <remap from="gps_datum" to="external/fix"/>
    </node>

    <node name="odom2ned" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0.707106781185 0.707106781185 0 0 bluerov2/odom bluerov2/odom_ned"/>
    <node name="baselink2frd" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 1 0 0 0 bluerov2/base_link bluerov2/base_link_frd"/>
    <node name="optical2cam" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 -$(arg halfpi) 0 -$(arg halfpi) gopro gopro_optical"/>
    <node name="base2gopro" pkg="tf2_ros" type="static_transform_publisher" args="0.2 0 -0.1 0 $(arg halfpi) 0 gopro gopro_optical"/>


    <include file="$(find bluerov2_control)/launch/los_controller.launch"/>
    <node ns="bluerov2" pkg="bluerov2_executive" type="ardusub_executive.py" name="executive" output="screen">
        <remap from="gps" to="mavros/global_position/global"/>
        <remap from="odometry" to="odometry/filtered"/>
    </node>

    <node ns="bluerov2" pkg="bluerov2_control" type="geodetic_to_local.py" name="geodetic_to_utm"/>

    <include ns="bluerov2" file="$(find bluerov2_neptus)/launch/neptus.launch"/>

    <node ns="bluerov2" pkg="bluerov2_control" type="trajectory_visualizer.py" name="trajectory_visualizer">
        <remap from="odometry" to="odometry/filtered"/>
    </node>

    <group if="$(arg stream_video)">
        <include ns="bluerov2" file="$(find bluerov2_ardusub)/launch/start_gscam.launch">
            <arg name="video_port" value="$(arg video_port)"/>
            <arg name="png_level" value="$(arg png_level)"/>
            <arg name="gscam_args" value="$(arg gscam_args)"/>
        </include>
    </group>
    <group unless="$(arg stream_video)">
        <include ns="bluerov2" file="$(find bluerov2_ardusub)/launch/start_gscam.launch">
            <arg name="video_port" value="$(arg video_port)"/>
            <arg name="png_level" value="$(arg png_level)"/>
            <arg name="gscam_args" value="videotestsrc ! video/x-raw, framerate=30/1, width=1920, height=1080"/>
        </include>
    </group>

    <node ns="bluerov2" pkg="bluerov2_state_estimation" type="camera_tf_estimation.py" name="camera_tf"/>

</launch>