<launch>
    <arg name="pi" value="3.14159265359"/>
    <arg name="halfpi" value="1.57079632679"/>
    <include file="$(find bluerov2_ardusub)/launch/start_ardusub_sitl.launch"/>
    <include file="$(find bluerov2_control)/launch/switch_pro_teleop.launch" ns="bluerov2"/>
<!--    <include file="$(find bluerov2_control)/launch/position_hold.launch">-->
<!--        <arg name="model_name" value="bluerov2"/>-->
<!--    </include>-->
    <node type="rviz" pkg="rviz" name="rviz" args="-d $(find bluerov2_ardusub)/rviz/frame_debug.rviz"/>
    <node type="fake_waterlink.py" pkg="bluerov2_state_estimation" name="fake_waterlink" ns="bluerov2">
        <param name="heading" value="0.9"/>
        <rosparam param="datum">[55.60304, 12.808937, 0]</rosparam>
    </node>
    <include file="$(find bluerov2_state_estimation)/launch/ekf.launch"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 1 map bluerov2/odom"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom2ned" args="0 0 0 0.707106781185 0.707106781185 0 0 bluerov2/odom bluerov2/odom_ned"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="baselink2frd" args="0 0 0 1 0 0 0 bluerov2/base_link bluerov2/base_link_frd"/>
    <include file="$(find bluerov2_control)/launch/test_controller.launch"/>
</launch>