<launch>
    <arg name="gui_on" default="False"/>
    <arg name="rviz_on" default="False"/>
    <arg name="mode" default="default"/>
    <include file="$(find bluerov2_gazebo)/launch/peberholm_world.launch">
        <arg name="gui" value="$(arg gui_on)"/>
    </include>
    <include file="$(find bluerov2_gazebo)/launch/peberholm_bluerov2.launch">
        <arg name="gui_on" value="$(arg gui_on)"/>
        <arg name="rviz_on" value="$(arg rviz_on)"/>
        <arg name="mode" value="$(arg mode)"/>
    </include>
    <include file="$(find bluerov2_neptus)/launch/neptus.launch" ns="bluerov2">
    </include>
    <include file="$(find bluerov2_executive)/launch/bluerov2_executive.launch">
        <arg name="datum" value="[55.603036,12.8089368,0.0]"/>
    </include>
    <node pkg="bluerov2_control" type="utm_to_world.py" name="utm_to_world" ns="bluerov2">
        <param name="datum" value="[55.603036,12.8089368,0.0]"/>
    </node>
</launch>